
<div class="container-fluid py-5" style="background-color:burlywood;">
  <div class="container" style="color: darkgoldenrod;">
    <h1 class="display-3"><b>MTG catalog</b></h1>
    <p class="lead">Description text</p>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">MTG Shop</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/Sets']" href="#">Sets <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/Cards/New']" href="#">Add Cards</a>
      </li>

      <!--
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      -->
    </ul>

    <form class="form-inline my-2 my-lg-0" #searchCardsForm="ngForm" (ngSubmit)="searchCards(searchCardsForm.value)">
      <div class="row">
        <div class="col-9 form-group">
            <input class="form-control mr-sm-2" [(ngModel)]="searchTerm" name="searchTerm" type="search" placeholder="Search card name..." aria-label="Search">
        </div>
        <div class="col-3">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
</nav>
<!--
<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">MTG Catalog</span>
  <div class="collapse navbar-collapse" style="background-color:blanchedalmond;">
    <ul class="nav navbar-nav">
    <li>
        <a [routerLink]="['/Sets']" routerLinkActive="active">All Events</a>
      </li>
    </ul>
  </div>
</nav>
-->

